.popup__input {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    color: #000000;
    border: none;
    padding: 0 0 13px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-top: 30px;
}

@media screen  and (max-width: 595px) {
    .popup__input {
        width: 238px;
        height: 14px;
        line-height: 14px;
        }
    }