.element__heart {
    background: url('../../../images/icon/heart__vector.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    margin-right: 15px;
    box-sizing: border-box;
}

.element__heart:hover {
    opacity: 0.5;
    cursor: pointer;
}

